/* Custom styles for the Header / Footer */

.header {
    background-color: black !important;
    margin-top: 2rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 22px grey;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 999;
}

.navbar {
    position: absolute !important;
    top: 0;
    width: 100%;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.header .container {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-page-header-content {
    position: absolute;
    z-index: 99;
    margin-top: 50vh;
    margin-left: 5rem;
    color: white;
    top: 0;
}

.header-text {
    justify-content: end;
}

.main-page-header-content h1 {
    font-size: 4rem;
}

.main-page-header-content h2 {
    font-size: 2rem;
}

.header-text li {
    padding: 1rem;
}

.container-fluid {
    margin-bottom: 10rem;
}

footer {
    background-color: black !important;
    bottom: 0;
    width: 100%;
    margin-top: 20rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Custom styles for Home Page */

.main-page {
    position: relative;
    display: flex;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main-image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    filter: brightness(0.5);
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-fluid {
    padding: 0 !important;
    margin-top: 20vh;
}

.main-left {
    width: 50%;
}

.main-right {
    width: 50%;
    align-content: center;
}

.main-right form {
    display: flex;
    flex-direction: column;
}

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/* Custom styles for Booking */

.booking-header {
    text-align: center;
}

.booking-form form {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}


/* Booking Form */

.booking-form {
    background-color: white;
    border: 0.1px solid gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 6rem !important;
    margin-right: 6rem !important;
}

.booking-form .col1 {
    border-right: 0.1px solid gray;
}

.booking-form .form-row {
    border: 0.1px solid gray;
    padding: 10px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.booking-form .form-row2 {
    border: 0.1px solid gray;
    padding: 10px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.booking-form .form-control {
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.booking-form .btn-purple {
    background-color: #800080;
    border-color: #800080;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin-top: 2rem;
    transition: background-color 0.3s;
}

.booking-form .btn-purple:hover {
    background-color: #a700a7;
}


/* Mobile Anpassungen */

@media (max-width: 992px) {
    .main-page {
        flex-direction: column;
        align-items: center;
    }

    .main-left,
    .main-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .booking-form {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .form-row,
    .form-row2 {
        display: flex;
        flex-direction: column;
    }
}