{% include 'header.html.twig' %}

<!-- The body content -->
<body>
    {% if app.request.attributes.get('_route') != 'app_home' %}
        <div class="container-fluid">
    {% endif %}
    
    {% block body %}{% endblock %}
    
    {% if app.request.attributes.get('_route') != 'app_home' %}
        </div><!-- .container-fluid -->
    {% endif %}
</body>
{% include 'footer.html.twig' %}