{% include 'header.html.twig' %}

<!-- The body content -->
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
{% include 'footer.html.twig' %}